.whatsapp-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    left: 1rem;
    position: fixed;
    top: 85%;
    z-index: 3;
    transition: 0.15s;

    .whatsapp-icon {
        width: 35px;
        height: 35px;
        transition: 0.15s;
    }
    
    &:hover {
        width: 80px;
        height: 80px;
        .whatsapp-icon {
            width: 40px;
            height: 40px;
        }
    }
}

@media ( min-width: 1920px ) {
    .whatsapp-button {
        width: 90px;
        height: 90px;
    
        .whatsapp-icon {
            width: 50px;
            height:50px;
            transition: 0.15s;
        }
        
        &:hover {
            width: 95px;
            height: 95px;
            .whatsapp-icon {
                width: 55px;
                height: 55px;
            }
        }
    }
}