section {
    font-family: Montserrat, sans-serif;
    color: #252B42;
}

.about-us-section {
    min-height: 100dvh;
    margin-top: 10rem;
}

.title-container {
    text-align: center;
    width: 100%;
    position: absolute;
}

.cards {
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    position: relative;
    margin-top: 12%;
}

.about-card {
    width: 550px;
    height: 360px;
    text-align: center;
}

.about-card-text {
    font-size: 1rem;
    font-weight: 500;
    padding: 0 2.5rem 2.5rem;
    line-height: 1.8rem;
    text-align: center;
    margin-top: 5%;
}

.gradient-border-about {
    border: solid 3.5px transparent;
    border-radius: 12px;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to left, #01E481, #6315FF);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.titleInfo-about-container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100px;
    margin-top: 75px;
    margin-bottom: 90px;
}

.subtitle-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.title .info {
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
}

.title {
    font-size: 36px;
}

.info {
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.1px;
    margin-top: 5px;
}

.teamImg {
    margin-top: -30px;
    margin-bottom: -5px;
    width: 100%;
    height: 475px;
}

.team-container {
    height: 1440px;
    width: 100%;
    background-image: url(../../assets/img/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    align-items: center;
}

.team {
    width: 1014px;
    height: 450px;
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
    box-shadow: #a7a7a7 0px 5px 3px -1px;
    border-radius: 1rem;
    position: relative;
    top: 11rem;
}

.team-data {
    display: flex;
    flex-direction: column;
    height: 370px;
    width: 425px;
    margin-left: 3.5rem;
    color: #858585;
    font-size: 1.5rem;
    gap: 1rem;
}

.team-detail {
    margin-top: 1rem;
    line-height: 1.8rem;
    font-size: 1.1rem;
    overflow-y: scroll;
    padding-right: 1rem;
    scrollbar-color: #252B42 #fff;
    scrollbar-width: thin;
    width: 30rem;
}

.team-name {
    color: #252b42;
    margin-top: 0;
}

@media ( 360px <= width <= 413px ) {
    

    .about-us-section {
        margin-top: 11rem;
        height: 73rem;
    }

    .title {
        font-size: 1.9rem !important;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 25rem;
    }

    .about-card {
        width: 76%;
        height: fit-content;
    }

    .about-card-text {
        padding: 0 1.5rem 1.5rem;
        line-height: 1.7rem;
        margin-top: 7%;
    }

    .teamImg {
        display: none;
    }

    .section-team {
        position: relative;
        margin-bottom: 10rem;
    }

    .team-container {
        gap: 2.5rem;
        height: 90rem;
    }

    .info {
        font-size: 22px !important;
    }

    .team {
        flex-direction: column;
        width: 90%;
        height: 600px;
        top: 5rem;
        right: 0 !important;
        left: 0 !important;
    }

    .team-name {
        font-size: 1.3rem;
    }

    .team-img {
        width: 65%;
        margin-bottom: 1rem;
    }

    .team-data {
        width: auto;
        margin-left: 0;
        align-items: center;
    }

    .team-detail {
        width: 20rem;
        height: 68%;
        text-align: center;
        margin-top: .5rem;
        overflow-y: scroll;
        font-size: 1rem;
        padding-right: 0;
        padding-inline: 1rem;
        line-height: 1.7rem;
    }
}

@media ( 414px <= width <= 480px ) {
    

    .about-us-section {
        margin-top: 12rem;
        height: 64rem;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 20rem;
    }

    .about-card {
        width: 85%;
        height: fit-content;
    }

    .about-card-text {
        padding: 0 1.5rem 1.5rem;
        line-height: 1.7rem;
        margin-top: 7%;
    }

    .teamImg {
        display: none;
    }

    .section-team {
        position: relative;
        margin-bottom: 10rem;
    }

    .team-container {
        gap: 2.5rem;
        height: 90rem;
    }

    .info {
        font-size: 22px !important;
    }

    .team {
        flex-direction: column;
        width: 90%;
        height: 600px;
        top: 5rem;
        right: 0 !important;
        left: 0 !important;
    }

    .team-name {
        font-size: 1.3rem;
    }

    .team-img {
        width: 65%;
        margin-bottom: 1rem;
    }

    .team-data {
        width: auto;
        margin-left: 0;
        align-items: center;
    }

    .team-detail {
        width: 20rem;
        height: 68%;
        text-align: center;
        margin-top: .5rem;
        overflow-y: scroll;
        font-size: 1rem;
        padding-right: 0;
        padding-inline: 1rem;
        line-height: 1.7rem;
    }
}

@media ( 481px <= width <= 767px ) {
    .about-us-section {
        margin-top: 12rem;
        height: 64rem;
    }

    .about-us-section div h2 {
        font-size: 2.5rem !important;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 20rem;
    }

    .about-card {
        width: 75%;
        height: fit-content;
    }

    .about-card-text {
        padding: 0 1.5rem 1.5rem;
        line-height: 1.7rem;
        margin-top: 7%;
    }

    .teamImg {
        display: none;
    }

    .section-team {
        position: relative;
        margin-bottom: 10rem;
    }

    .team-container {
        gap: 2.5rem;
        height: 90rem;
    }

    .info {
        font-size: 22px !important;
    }

    .team {
        flex-direction: column;
        width: 75%;
        height: 600px;
        top: 5rem;
        right: 0 !important;
        left: 0 !important;
    }

    .team-name {
        font-size: 1.3rem;
    }

    .team-img {
        width: 60%;
        margin-bottom: 1rem;
    }

    .team-data {
        width: auto;
        margin-left: 0;
        align-items: center;
    }

    .team-detail {
        width: 20rem;
        height: 68%;
        text-align: center;
        margin-top: .3rem;
        overflow-y: scroll;
        font-size: 1rem;
        padding-right: 0;
        padding-inline: 1rem;
        line-height: 1.6rem;
    }
}

@media ( 768px <= width <= 991px ) {
    
    .cards {
        gap: 1.5rem;
    }

    .about-card {
        height: 375px;
    }

    .about-card-text {
        line-height: 1.55rem;
        margin-top: 3%
    }

    .team {
        width: 685px;
    }

    .team img {
        width: 300px;
    }

    .team-detail {
        width: 18rem;
    }
}

@media ( 992px <= width <= 1024px ) {

    .about-card {
        width: 450px;
        height: 390px;
    }

    .cards {
        gap: 1.5rem;
    }

    .team {
        width: 860px;
    }

    .team-detail {
        width: 23rem;
    }

}