@keyframes fade {
    15%{
        background-image: url(../../assets/img/seguridad1.svg);
    }
    25%{
        background-image: url(../../assets/img/seguridad2.svg);
    }
    50%{
        background-image: url(../../assets/img/seguridad2.svg);
    }
    60%{
        background-image: url(../../assets/img/seguridad3.svg);
    }
    85%{
        background-image: url(../../assets/img/seguridad3.svg);
    }
    95%{
        background-image: url(../../assets/img/seguridad1.svg);
    }
}

.security-section {
    margin-bottom: 13%;
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.security-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    position: relative;
}

.security-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2.5%;
    position: relative;
    line-height: 2.5rem;
    margin-bottom: 4%;
    padding-inline: 100px;
}

.security-subcontainer{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.security-img-container {
    background-image: url(../../assets/img/seguridad1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    animation: fade 25s infinite;
    width: 525px;
    height: 700px;
}

.chars-container {
    width: 632px;
    gap: 36px;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
}

.checkIcon {
    background-image: url(../../assets/icons/checkIco.png);
    background-size: cover;
    transition: 0.3s;
    width: 24px;
    height: 24px;
    margin: 0 0.5rem 0 0.5rem;
}

.char:hover {
    .checkIcon {
        background-image: url(../../assets/icons/checkIco-green.png); 
    }
}

.char-title-container {
    display: flex;
    align-items: center;
}

.char-title {
    font-size: 1.5rem;
    color: #252b42;
    font-weight: 600;
}

.char-description {
    margin-top: 1%;
    font-weight: 500;
    color: rgb(133, 133, 133);
    line-height: 1.8rem;
    position: relative;
    left: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {

    .security-title {
        width: 95%;
        align-self: center;
        font-size: 2.25rem;
    }

    .security-description {
        font-size: 1.25rem;
        width: 85%;
        align-self: center;
        padding-inline: 0;
        margin-bottom: 7%;
    }

    .security-subcontainer {
        gap: .5rem;
        margin-bottom: 14%;
    }

    .security-img-container {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
 
    .chars-container {
        width: 500px;
        gap: 1rem;
        right: 3%;
        position: absolute;
    }
    
    .char-title {
        font-size: 1.25rem;
    }

    .security-subcontainer {
        height: 50rem;
    }

    .security-img-container {
        background-size: contain;
        width: 475px;
        position: absolute;
        left: 0;
        margin-top: 4%;
    }
}