html {
  overflow: clip visible;
}

.section-services {
  margin-bottom: 57px;
  min-height: 100vh;
  text-align: center;
}

.section-services article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-services {
  font-family: 'Montserrat', sans-serif;
  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 3.5rem;
  font-weight: 800;
}

.primary-banner-container {
  background-image: url(../../assets/img/note-banner.png);

  &::before {
    background-image: url(/src/assets/img/degrade-banner.svg);
    background-repeat: no-repeat;
  }
}

.automation-banner-container {
  background-image: url(../../assets/img/smartphone-banner.jpg);
  background-size: 110% !important;

  &:hover {
    background-size: 115% !important;
  }

  &::before {
    background-image: url(/src/assets/img/degrade-banner-green.svg);
    background-repeat: no-repeat;
  }
}



.automation-banner-container,
.primary-banner-container {
  width: 1156px;
  height: 560px;
  margin-top: 8rem;
  box-shadow: #a7a7a7 0px 5px 3px -1px;
  border-radius: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  &::before {
    content: '';
    background-size: 110%;
    height: 560px;
    width: 1156px;
    display: flex;
    border-radius: 10px;
    position: absolute;
  }

  &::after {
    content: url(/src/assets/img/services-banner-logo.svg);
    z-index: 1;
    display: flex;
    justify-content: start;
    position: relative;
    bottom: 28rem;
    right: -100%;
    width: fit-content;
    transition: 0.5s ease-out;
    opacity: 0;
  }



  &:hover {
    background-size: 105%;

    .primary-banner-button {
      right: -40%;
      opacity: 1;
    }

    &::before {
      background-size: 110%;
    }

    &::after {
      right: -90%;
      opacity: 1;
    }
  }



}



.primary-banner-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #01E481;
  color: #000;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 1rem;
  width: 38rem;
  height: 45px;
  font-family: 'Montserrat', sans-serif;
  transition: 0.75s ease-out;
  font-weight: bold;
  z-index: 1;
  position: relative;
  right: -100%;
  opacity: 0;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    background-image: url(../../assets/icons/whatsapp.png);
    width: 28px;
    height: 28px;
    background-size: 28px;
    left: 3rem;
    opacity: 0;
    transition: 0.3s;
  }

  &:hover {
    transition: 0.5s;
    cursor: pointer;
    padding-left: 65px;
    background-color: #303030;
    color: #01E481;
    opacity: 1;

    &::before {
      opacity: 1;
    }
  }
}


.primary-banner-text {
  width: 502px;
  height: 428px;
  text-align: start;
  z-index: 1;
  margin-left: 4.5rem;
  margin-top: 1rem;
}

.primary-banner-text h3 {
  font-size: 2.5rem;
  color: #01e481;
  margin-bottom: 10px;
}

.primary-banner-text h4 {
  line-height: 2.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.primary-banner-text p {
  text-align: justify;
  line-height: 1.8rem;
  font-weight: 500;
  color: #fff;
}


.p-services {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  margin-top: -1rem;
  line-height: 2.5rem;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  row-gap: 1.5rem;
  column-gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3.5%;
}

.service {
  width: 350px;
  height: 200px;
  padding: 20px;
  text-align: start;
  position: relative;
  transition: 0.5s;

  &:hover {
    color: #6315FF;
  }
}

.service p {
  margin-top: 5%;
  line-height: 1.8rem;
  color: #858585;
  font-weight: 500;
  font-size: 1rem;
}

.subtitle-services {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 8%;
}

.secondary-banner-container {
  margin-top: 9rem;
  display: flex;
  justify-content: center;
}

.secondary-banner-bg {
  position: absolute;
  width: 100dvw;
}

.secondary-banner-vector {
  position: absolute;
  width: 100dvw;
}

.services-arrow-vector {
  position: absolute;
  right: -8px;
  margin-top: 11.5rem;
}

.secondary-banner-subcontainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  z-index: 1;
  margin-top: 2.5%;
  height: 100%;
}

.secondary-banner-text {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 5rem;
}

.secondary-banner-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #01E481;
  color: #000;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 1rem;
  width: 15rem;
  height: 45px;
  font-family: 'Montserrat', sans-serif;
  transition: 0.75s ease-out;
  font-weight: bold;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    background-image: url(../../assets/icons/whatsapp.png);
    width: 26px;
    height: 26px;
    background-size: 26px;
    left: 2rem;
    opacity: 0;
    transition: 0.3s;
  }

  &:hover {
    transition: 0.5s;
    cursor: pointer;
    padding-left: 45px;
    background-color: #303030;
    color: #01E481;
    opacity: 1;

    &::before {
      opacity: 1;
    }
  }
}

.backtesting-container {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  row-gap: 1.5rem;
  column-gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3%;
}

.backtesting-info {
  width: 380px;
  height: 200px;
  text-align: start;
  position: relative;
  transition: 0.5s;
  padding: 20px;

  &:hover {
    color: #6315FF;
  }
}

.backtesting-description {
  margin-top: 5%;
  line-height: 1.8rem;
  color: #858585;
  font-weight: 500;
  font-size: 1rem;
}

.backtesting-main-description {
  color: #6315FF;
}

@media (min-width: 1920px) {
  .secondary-banner-subcontainer{
    margin-top: 5.5%;
  }
}