.Toastify__toast--success {
    border: 2px solid #01E481 !important;
    border-radius: 1rem !important;
    background: #F0F9FA !important;
    width: max-content !important;
    right: 5.5rem !important;
    top: 7rem !important;
    position: absolute !important;
}

.Toastify__toast-body {
    color: #252B42    ;
    font-size: 1rem;
    line-height: 20px;
    width: 100%;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.contact-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 15%;
    font-family: 'Montserrat', sans-serif;
    color: #252B42;
    padding-top: 4%;
}

.titleInfo-container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100px;
    margin-bottom: 80px;
}

.form-container {
    width: 1100px;
    height: 556px;
    margin-top: 47px;
    display: flex;
    align-self: center;
    box-shadow: 2px 10px 7px 2px lightgrey;
}

.gradient-border {
    border: solid 3.5px transparent;
    border-radius: 20px;
    background-image:
        linear-gradient(#fff, #fff),
        linear-gradient(to left, #01E481 90%, #6315FF);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.gradient-border-bottom {
    border: solid 3.5px transparent;
    border-radius: 20px;
    background-image:
        linear-gradient(#fff, #fff),
        linear-gradient(to right, #01E481 70% , #6315FF);

    background-origin: border-box;
    background-clip: content-box, border-box;
}

.title .info {
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
}

.title {
    font-size: 40px;
}

.info {
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.1px;
    margin-top: 20px;
}

.form-subcontainer {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-bg {
    position: absolute;
}

form {
    width: 740px;
    height: 556px;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem 2rem 3rem;
    row-gap: 30px;
}

form span {
    display: flex;
    justify-content: start;
    gap: 2rem;
    align-items: center;
}

form span div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 310px;
    height: 80px;
}

label,
h4 {
    color: black;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

input,
textarea {
    border-radius: 24px;
    border: none;
    background-color: #E8E8E8;
    color: #979797;
    padding: 8px 24px 8px 24px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

input {
    height: 44px;
}

input[type='radio'] {
    width: 17px;
    position: relative;
    right: 1.5rem;
    accent-color: black;
}

textarea {
    width: 644px;
    height: 120px;
    padding-top: 1rem;
    resize: none;
    margin-top: -1rem;
}

.submit-button {
    align-self: flex-end;
    width: 145px;
    height: 44px;
    border-radius: 40px;
    background-color: #01E481;
    color: black;
    border: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin-top: 1rem;
    transition: 0.75s;
    
    &:hover {
        cursor: pointer;
    }

    &:disabled {
        background-color: #5fdda6;
        color: rgb(96, 96, 96);
    }

    &:hover:disabled {
        cursor: not-allowed;
    }
}


@media (992px <= width <= 1024px) {
    
    .form-container {
        width: fit-content;
    }

    form {
        width: 600px;
    }

    form span {
        gap: 1.5rem;
    }
    
    #actives1, #actives2, #actives3 {
        width: 1rem;
    }

    div span label {
        width: 2.5rem;
    }

    #name, #email {
        width: 15rem;
    }

    #message {
        width: 504px;
    }
}