main {
    min-height: 100dvh;
}

.section-home {
    display: flex;
    overflow: hidden;
    min-height: 51rem;
    background-image: url(../../assets/img/homepage.svg);
    background-repeat: no-repeat;
    background-position-y: -10.5rem;
}

.home-container {
    width: 585px;
    margin-left: 8%;
    margin-top: 5%;
}

.home-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.75rem;
    font-weight: 800;
    width: max-content;
    line-height: 5rem;
}

.home-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    width: 60%;
    line-height: 2.5rem;
    font-weight: 400;
    margin-top: 0;
}

.pantallas-home {
    position: relative;
    top: 2.5rem;
    right: 12rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5%;
}

.green-button {
    background-color: #01E481;
    color: #252b42;
    border: none;
    border-radius: 3rem;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    height: 47px;
    width: 216px;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    transition: 0.5s;

    &:hover {
        background-color: #303030;
        color: #01E481;
    }
}

.green-button-calendly {
    border-radius: 3rem;
    cursor: pointer;
    font-weight: bold;
    height: 47px;
    width: 216px;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    color: #01e481;
    border: solid 1px #01e481;
    padding: 9px;
    transition: 0.6s;

    &::before {
        content: '';
        position: absolute;
        top: -100px;
        left: -120%;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-color: #01e481;
        z-index: -1;
        transition: 0.6s;
    }

    &:hover {
        color: #303030;
        background-color: #01e481;

        &::before {
            left: 0;
        }
    }

    &:active {
        transform: scale(0.99);
    }
}

.blue-button {
    background-color: #252b42;
    color: #fff;
    border: none;
    border-radius: 3rem;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    height: 47px;
    width: 216px;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    margin-top: 2.5rem;
    transition: 0.5s;

    &:hover {
        background-color: #303030;
        color: #01E481;

    }
}

.home-cards-section {
    background-color: #F7F4FE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-cards-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    position: relative;
}

.home-cards-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2.5%;
    position: relative;
    line-height: 2.5rem;
    margin-bottom: 4%;
    width: 80%;
}

.home-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    justify-content: center;
    margin-top: 0rem;
    column-gap: 3rem;
    margin-right: 3.5%;
}

.banner-container {
    width: 790px;
    height: 430px;
    background-image: url(../../assets/img/contenedor-banner.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 1.5rem;
    transition: 0.4s;

    &:hover {
        background-image: url(../../assets/img/contenedor-banner-blue.svg);

        .lineal-vector {
            background-image: url(../../assets/img/vector-lineal-blue.svg);
        }

        .banner-title {
            color: #01E481
        }
    }
}

.banner-subcontainer {
    position: absolute;
    z-index: 1;
    width: 35%;
    margin-top: 0.5%;
    left: 4rem;
}

.banner-title {
    font-size: 3rem;
    font-weight: 400;
    color: #6315FF;
    transition: 0.4s;
}

.lineal-vector {
    background-image: url(../../assets/img/vector-lineal.svg);
    background-repeat: no-repeat;
    width: 790px;
    height: 365px;
    position: relative;
    top: 12%;
    left: 2%;
    transition: 0.3s;
}

.banner-text-container {
    margin-top: 2.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: max-content;
}

.banner-text {
    color: #252b42;
    font-size: 1.5rem;
}

@media (min-width: 768px) and (max-width: 991px) {
    
    .section-home {
        background-position-x: -11rem;
    }

    .home-container {
        margin-left: 4%;
        margin-top: 8%;
    }

    .home-title {
        font-size: 3rem;
        line-height: 4rem;
    }

    .home-subtitle {
        font-size: 1.25rem;
        line-height: 1rem;
        margin-top: 5%;
    }

    .pantallas-home {
        position: relative;
        top: 5rem;
        right: 25rem;
        scale: 0.75;
    }

    .button-container {
        margin-top: 12%;
    }

    .home-cards-title {
        font-size: 2.25rem;
    }

    .home-cards-description {
        font-size: 1.25rem;
    }

    .home-cards-container {
        grid-template-columns: repeat(2, 325px);
        margin-right: 6.5%;
    }

    .banner-container {
        width: 745px;
    }

    .lineal-vector {
        width: 710px;
        background-size: contain;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    
    .section-home {
        background-position-x: -11rem;
    }
    
    .home-title {
        font-size: 3.25rem;
    }

    .home-subtitle{
        font-size: 1.25rem;
    }

    .pantallas-home {
        top: 4.5rem;
        right: 14.5rem;
        width: 620px;
    }

    .home-cards-container {
        column-gap: 0;
        margin-right: 0;
        grid-template-columns: repeat(2, 350px);
    }

    .main-card {
        width: 300px;
    }

    .banner-container{
        width: 690px;
        height: 390px;
    }

    .lineal-vector {
        background-size: cover;
        width: 628px;
        height: 305px;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .banner-text {
        font-size: 1.25rem;
    }

    .blue-button{
        margin-top: 1.8rem;
    }
}

@media (min-width: 1600px) and (max-width: 1900px) {
    .section-home {
        min-height: 50rem;
        background-size: cover;
        background-position-y: -16rem;
    }
}

@media (min-width: 1901px) {
    .section-home {
        background-position-y: -18rem;
        background-size: cover;
        min-height: 91dvh;
    }

    .home-container {
        margin-top: 3.5%;
    }

    .pantallas-home {
        width: 75rem;
    }
}