.section-objectivos {
    background-color: #00060C;
    background-image: url('/src/assets/img/objective-bg.svg');
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    height: 51rem;
    margin-top: 12%;
    margin-bottom: -5%;
    background-position-x: 36rem;
}

.title-info-container {
    font-family: 'Montserrat';
    position: absolute;
    color: #ffffff;
    text-align: start;
    margin-left: 8rem;
    top: 15%;
}

.title-object {
    font-size: 3.5rem;
    font-weight: 800;
}

.p-object {
    width: 40%;
    font-size: 1.5rem;
    margin-top: 5rem;
    line-height: 2.5rem;
}

.span-object {
    font-weight: 800;
}