@keyframes grow {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.25;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.section-objectivos {
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 50.5rem;
    margin-top: 12%;
    margin-bottom: -5%;
    background-position-x: 36rem;
    z-index: 1;
    overflow: hidden;

    &::before {
        content: url(/src/assets/img/degrade-black.svg);
        z-index: 2;
        position: absolute;
        left: 34rem;
        animation: grow linear;
    }

    &::after {
        content: '';
        background-image: url(/src/assets/img/objective-bg.svg);
        position: absolute;
        z-index: 1;
        right: 0;
        width: 58dvw;
        height: 130dvh;
        background-repeat: no-repeat;
        animation: grow linear;
    }
}

.title-info-container {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    color: #ffffff;
    text-align: start;
    margin-left: 8rem;
    top: 15%;
    z-index: 2;
}

.title-object {
    font-size: 3.5rem;
    font-weight: 800;
}

.p-object {
    width: 40%;
    font-size: 1.5rem;
    margin-top: 5rem;
    line-height: 2.5rem;
}

.span-object {
    font-weight: 800;
    font-size: 2.25rem;
    width: fit-content;
    display: flex;
    white-space: nowrap;
    margin-top: 2rem;
    color: #01e481;
    opacity: 0;
    animation: fadeIn 5s ease;
}