header {
    width: 100%;
    background-color: #F7F4FE;
    position: fixed;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    height: 105px;
    z-index: 3;
    display: flex;
    justify-content: center;
}

nav {
    width: 100%;
}

.logo {
    width: 200px;
}

.menu {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7rem 0 7rem;
    position: relative;
    top: .6rem;
}

.logo span {
    color: #252B42;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.nav-links {
    list-style: none;
    display: flex;
    padding-left: 5rem;
    gap: 45px;
    position: relative;
    top: 1.1rem
}

.nav-links a {
    font-weight: 600;
    line-height: 28px;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: #858585;
    transition: 0.2s;

    &:hover {
        color: #252b42;
    }

    &:focus{
        color: #252B42;
    }    
}

nav #toggle,
nav label {
    display: none;
}

.social-icons {
    display: flex;
    position: relative;
    top: 1rem;
}

.social-icons img {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.menu-icon {
    display: none;
}

.img-home {
    padding-bottom: 4px;
    width: 100%;
}

.line {
    width: 100%;
    position: absolute;
    margin-top: 1.45rem;
}

.toggle-container {
    display: none;
}

@media ( 360px <= width <= 413px ) {
    
    header {
        height: 110px;
        width: 100%;
    }
    
    .menu {
        padding: 0;
    }

    .logo {
        width: 235px;
        position: relative;
        top: 2px;
        padding-left: .5rem;
    }

    .line {
        margin-top: 1.2rem;
    }

    .nav-links {
        display: none;
    }

    .social-icons {
        display: none;
    }

    .toggle-container {
        display: block;
        position: relative;
        top: 1px;
    }

    .toggle {
        position: relative;
        top: 4rem;
        width: 32px;
        right: 10px;
    }
}

@media ( 414px <= width <= 505px ) {
    
    header {
        height: 125px;
        width: 100%;
    }
    
    .logo {
        width: 275px;
        position: relative;
        top: 3px;
        padding-left: .5rem;
    }

    .menu {
        padding: 0;
    }

    .line {
        margin-top: 1.4rem;
    }

    .nav-links {
        display: none;
    }

    .social-icons {
        display: none;
    }

    .toggle-container {
        display: block;
        position: relative;
        top: 1px;
    }

    .toggle {
        position: relative;
        top: 4.3rem;
        width: 40px;
        right: 10px;
    }
}

@media ( 506px <= width <= 767px ) {

    header {
        height: 145px;
        width: 100vw;
    }
    
    .logo {
        width: 325px;
        position: relative;
        top: 8px;
        padding-left: .5rem;
    }

    .menu {
        padding: 0;
    }

    .line {
        margin-top: 1.8rem;
    }

    .nav-links {
        display: none;
    }

    .social-icons {
        display: none;
    }

    .toggle-container {
        display: block;
        position: relative;
        top: 1px;
    }

    .toggle {
        position: relative;
        top: 5.3rem;
        width: 48px;
        right: 12px;
    }
}

@media ( 768 <= width <= 991px ) {
    
    header {
        height: 95px;
    }

    .logo {
        width: 180px;
        padding-left: 0.5rem;
    }

    .menu {
        padding: 0 .75rem 0 0;
    }
    
    .nav-links {
        padding-left: 3rem;
        gap: 1rem;
    }

    .nav-links li {
        min-width: fit-content;
    }

    .line {
        width: 100vw;
        margin-top: 3%;
    }

    .social-icons {
        padding-left: 5rem;
    }
}

@media ( 992px <= width <= 1024px ) {
    header {
        height: 98px;
    }

    .nav-links {
        padding-left: 0;
        gap:20px;
        font-size: 15px;
    }

    .menu {
        padding: 0 0 0 5.5rem;
    }

    .logo{
        width: 175px;
    }

    .social-icons {
        padding-right: 5rem;
    }

}