header {
    background-color: #F7F4FE;
    position: sticky;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    height: 105px;
    z-index: 3;
    display: flex;
    justify-content: center;
}

nav {
    width: 83%;
    padding-top: 1.5rem;
}

.logo {
    width: 200px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    color: #252B42;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.nav-links {
    list-style: none;
    display: flex;
    padding-left: 5rem;
    gap: 45px;
    position: relative;
    top: 1.1rem
}

.nav-links a {
    font-weight: 600;
    line-height: 28px;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: #858585;
    transition: 0.2s;

    &:hover {
        color: #252b42;
    }

    &:focus{
        color: #252B42;
    }    
}

nav #toggle,
nav label {
    display: none;
}

.social-icons {
    display: flex;
    position: relative;
    top: 1rem;
    padding-right: 1rem;
}

.social-icons img {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.menu-icon {
    display: none;
}

.img-home {
    padding-bottom: 4px;
    width: 100%;
}

.line {
    width: 82%;
    position: absolute;
    margin-top: 1rem;
}

@media (min-width: 768px) and (max-width: 991px) {
    
    .logo {
        width: 180px;
        padding-left: 0.5rem;
    }

    nav {
        width: 100vw;
    }
    
    .nav-links {
        padding-left: 3rem;
        gap: 1rem;
    }

    .nav-links li {
        min-width: fit-content;
    }

    .line {
        width: 100vw;
        margin-top: 3%;
    }

    .social-icons {
        padding-left: 5rem;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .nav-links {
        padding-left: 0;
        gap:20px;
        font-size: 15px;
    }

    .logo{
        width: 175px;
    }

    .social-icons {
        padding-right: 5rem;
    }

    .line {
        width: 83%;
    }
}