.section-customizable {
  display: flex;
  flex-direction: column;
  margin-top: 8%;
  background-image: url(../../assets/img/features-bg.svg);
  background-position: center;
  background-position-y: 28.5rem;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 160dvh;
  align-items: center;
}

.title-customizable {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
  color: #6315FF;
}

.subtitle-customizable {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  color: #252B42;
  width: 80%;
  margin-top: 2%;
  line-height: 2.5rem;
}

.customizable-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: 5rem;
  gap: 3rem;
}

.customizable-card {
  position: relative;
  width: 544px;
  height: 408px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid grey;
  transition: 0.1s ease-in-out;

  &:hover {
    border: solid 3.5px transparent;
    border-radius: 12px;
    background-image:
      linear-gradient(#fff, #fff),
      linear-gradient(to right, #01E481, #6315FF);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
}

.customizable-card img {
  width: 100%;
  height: 50%;
  position: relative;
  transition: 0.5s;
}

.customizable-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  bottom: 2.5rem;
}

.customizable-card-text {
  color: #858585;
  line-height: 1.8rem;
  position: relative;
  bottom: 5.5rem;
  font-weight: 500;
  padding: 0 3.5rem 0 3.5rem;
}



@media (min-width: 360px) and (max-width: 414px) {
  
  .section-customizable {
      background-size: contain;
    background-position-y: 31rem;
  }

  .title-customizable {
    font-size: 2rem;
  }
  
  .subtitle-customizable {
    margin-top: 10%;
    font-size: 1.2rem;
  }

  .customizable-container {
    top: 12rem;
  }

  .customizable-card {
    width: 350px;
    height: 365px;
  }

  .customizable-card img {
    height: 36%;
  }

  .customizable-card-title {
    font-size: 1.4rem;
    margin-top: 3.5rem;
  }

  .customizable-card-text {
    line-height: 1.7rem;
    padding: 0 2rem 0 2rem;
    margin-top: 3.8rem;
  }
}

@media ( 360px <= width <= 480px ) {

  .section-customizable {
    background-size: contain;
    min-height: 220dvh;
    background-position-y: 31rem;
  }
}

@media (min-width: 360px) and (min-height: 740px) {

  .section-customizable {
    min-height: 190dvh;
  }
}

@media (min-width: 414px) and (min-height: 736px) {
  .section-customizable {
    min-height: 185dvh;
  }
}

@media (min-width: 414px) and (min-height: 846px) {
  .section-customizable {
    min-height: 160dvh;
  }

  .subtitle-customizable {
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}

@media ( 481px <= width <= 767px ) {

  .section-customizable {
    min-height: 140dvh;
  }

  .title-customizable {
    font-size: 2.5rem;
  }

  .customizable-card {
    width: 380px;
  }

  .customizable-card img {
    height: auto;
  }

  .customizable-card-title {
    bottom: 1.5rem;
  }

  .customizable-card-text {
    line-height: 1.7rem;
    bottom: 3rem;

  }
}
@media ( 768px <= width <= 991px ) {

  .section-customizable {
    min-height: 110dvh;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  .section-customizable {
    min-height: 112dvh;
  }
}

@media (min-width: 768px) and (min-height: 1075px) {
  .section-customizable {
    min-height: 90dvh;
  }
}

@media ( 992px <= width <= 1024px ) {
  .customizable-card {
    width: 430px;
  }

  .customizable-card img {
    bottom: 1.4rem;
  }

  .customizable-card-title {
    bottom: 3.5rem
  }
}

@media ( 1200px <= width <= 1365px ) {

  .section-customizable {
    min-height: 126dvh;
  }
}

@media (min-width: 1200px) and (min-height: 950px) {

  .section-customizable {
    min-height: 103dvh;
  }
}

@media (min-width: 1366px) and (min-height: 700px){
.section-customizable {
    min-height: 132dvh;
  }
}

@media ( 1440px <= width ) {
  .section-customizable {
    min-height: 110dvh;
  }
}

@media (min-width: 1440px) and (min-height: 1080px) {
  .section-customizable {
    min-height: 93dvh;
  }
}

@media ( 1600px <= width ) {
  .section-customizable {
    background-size: 100dvw;
    min-height: 115dvh;
  }
}

@media ( 1920px <= width ) {
  .section-customizable {
    background-size: 100dvw;
    min-height: 124dvh;
  }
}

@media (min-width: 1920px) and (min-height: 1200px){
  .section-customizable {
    background-size: 100dvw;
    min-height: 100dvh;
  }
}