.section-footer {
    padding: 0 20px;
    background-image: url(../../assets/img/contenedor-footer.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    z-index: 2;
    padding-bottom: 7%;
    font-family: 'Montserrat', sans-serif;
}

.section-footer .contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.section-footer .rectangulo {
    transform: translate(0, -40%);
    z-index: 3;
    display: flex;
    width: 85%;
    height: 246px;
}

.gradient-border-footer {
    border: solid 4px transparent;
    border-radius: 35px;
    background-image:
        linear-gradient(#fff, #fff),
        linear-gradient(to right, #01E481 30%, #6315FF);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.section-footer .icono-regalo {
    width: 105px;
    margin-right: 20px;
}

.section-footer .contenido {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

.section-footer h2,
.section-footer .p-prueba,
.section-footer button {
    margin: 0;
}

.section-footer h2 {
    font-size: 2.5rem;
    position: relative;
    right: 1.5rem;
    width: 150px;
}

.section-footer .p-prueba {
    font-size: 1.5rem;
    position: relative;
    right: 1.5rem;
    line-height: 2.5rem;
    color: #858585;
    width: 28rem;
}

.section-footer button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #01E481;
    color: #000;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-size: 1rem;
    width: 215px;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
    font-weight: bold;

    &::after {
        content: attr(data-text);
        position: relative;
        right: 1rem;
        transition: 0.4s ease-out;
    }

    &:hover {
        cursor: pointer;
        color: #01E481;
        background-color: #303030;

        &::after {
            right: -0.5rem;
        }
    }
}

.section-footer button img {
    position: relative;
    left: -7px;
}

.section-footer .redes-sociales a {
    margin: 0 10px;
}

.section-footer .redes-sociales img {
    width: 30px;
    margin-top: 6%;
}

.redes-sociales {
    position: relative;
    width: 100%;
    gap: 40px;
    display: flex;
    justify-content: center;
}

.x-vector {
    background: #fff;
    border-radius: 3px;
    display: inline-flex;
    height: 30px;
    width: 30px;
    padding: 5px;
    position: relative;
    top: 2px;
}

@media ( 768px <= width <=991px) {
    .section-footer .rectangulo {
        width: 95%;
        height: 210px;
    }

    .section-footer .icono-regalo {
        width: 100px;
        margin-right: 5.5rem;
        top: 1.5rem;
        left: 1.5rem;
        position: relative;
    }

    .section-footer h2 {
        font-size: 1.75rem;
        right: 4rem;
        top: 2.5rem;
        width: 200px;
    }

    .section-footer .p-prueba {
        position: absolute;
        font-size: 1.25rem;
        top: 1rem;
        right: 7rem;
    }

    .section-footer button {
        position: relative;
        top: 2.75rem;
        right: 1.5rem;
    }
}
@media (992px <=width <=1024px) {
    
    .section-footer .icono-regalo {
        width: 95px;
        margin-left: 1.5rem;
    }

    .section-footer h2 {
        font-size: 2rem;
    }

    .section-footer .p-prueba {
        font-size: 1.15rem;
        line-height: 1.7;
    }

    .section-footer button {
        width: 200px;
        margin-right: 1.5rem;
    }
}

@media (1200px <=width <=1365px) {

    .section-footer .rectangulo {
        width: 87%;
    }

    .section-footer .contenido {
        gap: 1.5rem;
    }
}

@media (min-width: 1901px) {
    .section-footer .icono-regalo {
        width: 150px;
        margin-right: 20px;
        gap: 1.5rem;
    }

    .section-footer .contenido {
        gap: 4rem;
    }

    .section-footer .p-prueba {
        font-size: 2rem;
    }

    .section-footer h2 {
        font-size: 3rem;
    }

    .section-footer button {
        width: 250px;
        height: 50px;
    }
}