.lang-toggle-switcher {
    display: flex;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 3;
    gap: .3rem
}

.lang-toggle-switcher div img {
    width: 24px;
    transition: .5s;
}

.toggle-on {
    align-items: center;
}

.toggle-off {
    scale: 0.8;
    opacity: 0.4 !important;
    
    &:hover {
        cursor: pointer;
    }
}

@media ( 360px <= width <= 413px ) {
    
    .lang-toggle-switcher {
        right: 0.5rem;
    }

    .lang-toggle-switcher div img {
        width: 28px;
    }
}

@media ( 414px <= width <= 767px ) {
    
    .lang-toggle-switcher {
        right: .5rem;
    }
    
    .lang-toggle-switcher div img {
        width: 32px;
    }
}

@media ( 768px <= width <= 991px ) {
    .lang-toggle-switcher{
        top: .5rem;
        right: 10px;
    }
}